Doorui
{
		flex-direction: column;
		align-items: center;
		justify-content: center;

	// .DoorPlayerName 
	// {
	// 	font-size: 28px;
	// 	font-family: Poppins;

	// }

	.DoorTitle
	{
		font-size: 18px;
		font-family: Poppins;
		color: #dddddd;
	}




	.DoorPlayerName.unowned
	{
		font-size: 28px;
		font-family: Poppins;
		color: #d40000;

	}

	.DoorPlayerName.owned
	{
		position: relative;
		font-size: 28px;
		font-family: Poppins;
		color: #e2e2e2;
		left: 64px;

	}

	.DoorBuyAmounttitle.unowned
	{
		font-size: 33px;
		font-family: Poppins;
		color: #c2ecbc;
		
	}

	.DoorBuyAmounttitle.notownable
	{
		opacity: 0;
	}


	.DoorBuyAmounttitle.owned
	{
		opacity: 0;
	}

	.DoorBuyAmounttitle.ownable
	{
		position: relative;
		left: 16px;
	}

	.DoorPlayerName.purchasable
	{
		color: #e2e2e2;
		position: relative;
		text-align: center;
		left: 63px;
	}

	.DoorPlayerName.notpurchasable
	{
		color: #e2e2e2;
		position: relative;
		text-align: center;
		left: 24px;
	}


	.DoorPlayerName.notownable
	{
		position: relative;
		color: #53e627;
		left: 85px;
	}


job-list {
	    .job-card {
		position: relative;
        background: #307885;
		box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.568);
        padding: 6px;
        border-radius: 8px;
		top: -40px;
		left: 70px;
        display: flex;
        flex-direction: column;
        gap: 2px;
		
			&:active
			{
				sound-in: ui.downvote;
				
			}
		.job-title.notownable {
            font-size: 10px;
            font-weight: bold;
           color: #ececec;
        }
		.job-title.ownable {
			// Not Needed?? opacity: 0;
        }
	}

		.loading.notownable {
        color: #ffcc00;
        font-size: 16px;
        text-align: center;
    	}
		.loading.ownable {
			opacity: 0;
    	}
}

doorgroups-list {
	    .job-card {
        background: #307885;
		box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.568);
        padding: 6px;

        border-radius: 8px;
        box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.568);
		left: 85px;
		position: relative;
		top: -40px;
	
        display: flex;
        flex-direction: column;
        gap: 2px;
			&:active
			{
				sound-in: ui.downvote;
				
			}
		.job-title.notownable {
            font-size: 10px;
            font-weight: bold;
           color: #ececec;
        }
		.job-title.ownable {
			// Not Needed?? opacity: 0;
        }
	}

		.loading.notownable {
        color: #ffcc00;
        font-size: 16px;
        text-align: center;
    	}
		.loading.ownable {
			opacity: 0;
    	}
}


}

playerfriendsaddedtodoor-list {
	    .job-card {
		
		position: absolute;
        background: #307885;
		box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.568);
        padding: 8px;
        border-radius: 8px;
		top: -40px;
		left: 40px;
        display: flex;
        flex-direction: column;
        gap: 2px;
			&:active
			{
				sound-in: ui.downvote;
				
			}
			.job-title {
            font-size: 10px;
            font-weight: bold;
           color: #ececec;
        }
			
	}
	

		.loading.notownable {
        color: #ffcc00;
        font-size: 16px;
        text-align: center;
    	}
		.loading.ownable {
			opacity: 0;
    	}
}