@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="title">@PlayerWhoOwnsDoorDisplayName</div>
</root>

@code
{

	public string PlayerWhoOwnsDoorDisplayName {get; set;}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( PlayerWhoOwnsDoorDisplayName );
}