Doorui
{
		flex-direction: column;
		align-items: center;
		justify-content: center;

	// .DoorPlayerName 
	// {
	// 	font-size: 28px;
	// 	font-family: Poppins;

	// }

	.DoorTitle
	{
		font-size: 28px;
		font-family: Poppins;
		color: #dddddd;
	}




	.DoorPlayerName.unowned
	{
		font-size: 28px;
		font-family: Poppins;
		color: #d40000;

	}

	.DoorPlayerName.owned
	{
		font-size: 28px;
		font-family: Poppins;
		color: #e2e2e2;

	}


	.DoorBuyAmounttitle.unowned
	{
		font-size: 33px;
		font-family: Poppins;
		color: #c2ecbc;
		
	}

	.DoorBuyAmounttitle.owned
	{
		opacity: 0;
	}

	.DoorPlayerName.ownable
	{
		color: #e2e2e2;
	}

	.DoorPlayerName.notownable
	{
		color: #53e627;
	}


job-list {
	    .job-card {
        background: #3b3a3a;
        padding: 6px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	
        display: flex;
        flex-direction: column;
        gap: 2px;
			&:active
			{
				sound-in: ui.downvote;
				
			}
		.job-title.notownable {
            font-size: 10px;
            font-weight: bold;
           color: #ececec;
        }
		.job-title.ownable {
			// Not Needed?? opacity: 0;
        }
	}

		.loading.notownable {
        color: #ffcc00;
        font-size: 16px;
        text-align: center;
    	}
		.loading.ownable {
			opacity: 0;
    	}
}



}

playerfriendsaddedtodoor-list {
	    .job-card {
        background: #3b3a3a;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	
        display: flex;
        flex-direction: column;
        gap: 2px;
			&:active
			{
				sound-in: ui.downvote;
				
			}
	}

		.loading.notownable {
        color: #ffcc00;
        font-size: 16px;
        text-align: center;
    	}
		.loading.ownable {
			opacity: 0;
    	}
}