Doorui
{
		flex-direction: column;
		align-items: center;
		justify-content: center;

	// .Doortitle
	// {
	// 	font-size: 28px;
	// 	font-family: Poppins;

	// }


	.Doortitle.unowned
	{
		font-size: 28px;
		font-family: Poppins;
		color: #d40000;

	}

	.Doortitle.owned
	{
		font-size: 28px;
		font-family: Poppins;
		color: #e2e2e2;

	}


	.DoorBuyAmounttitle.unowned
	{
		font-size: 33px;
		font-family: Poppins;
		color: #c2ecbc;
		
	}

	.DoorBuyAmounttitle.owned
	{
		opacity: 0;
	}
}