{
  "Version": 2,
  "Mixers": {
    "Guid": "f29d80b2-f5a3-4356-a58a-2e7aefedb927",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 0,
    "MaxVoices": 64,
    "DistanceAttenuation": 0,
    "Occlusion": 0,
    "AirAbsorption": 0,
    "OverrideOcclusion": false,
    "OcclusionTags": "world",
    "Processors": [],
    "Children": [
      {
        "Guid": "82952af1-75ac-42a9-b2bf-8812511fb246",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 32,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "952670b3-33e2-4fbc-a0aa-b9bf08c67610",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "02e4893a-577a-43d3-9adc-137b62d16798",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "3a6168db-ef3a-45a0-bffd-a99ca0240cab",
        "Name": "Game (Low Priority)",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 5,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "8b634f05-2ea8-41b8-b870-6cb83c43e9b1",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}