@import "/UI/Styles/Theme.scss";
@import "../../styles.scss";

Ammo {
  .ammo-container {
    padding: $space-2;
    border-radius: $space-1;
    backdrop-filter: blur(4px);
  }

  .input-hint {
    img {
      width: 24px;
      height: 24px;
      opacity: 0.8;
    }
  }

  .firemode-icon {
    margin-right: $space-3;
    opacity: 0.8;
  }

  .ammo-count {
    gap: $space-2;
    font-family: monospace;
  }

  .nowrap {
    white-space: nowrap;
  }

  .vital, .important {
    text-align: center;
    color: $color-white;
  }

  .vital {
    color: $color-accent;
    font-weight: bold;
  }

  .divider {
    color: rgba(white, 0.4);
    font-weight: 300;
    margin: 0;
  }
}