@import "../../styles.scss";

PlayerInfo {
  .playerInfo {
    background-color: rgba($color-primary, 1);
  }

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .profile-picture {
    width: 48px;
    height: 48px;
  }
}