ControlSheet
{
	flex-direction: column;
	font-family: Poppins;
	font-size: 14px;
}

ControlSheet > .body
{
	flex-direction: column;
	flex-grow: 1;
	overflow: scroll;
	gap: 1px;
}

ControlSheet > .body > * 
{
	flex-shrink: 0;
}
