F2Menu
{
	position: absolute;
	top: 345;
	left: 952;
	right: 952;
	bottom: 345;
	background-color: #03011a;
	font-family: Poppins;
	font-size: 24px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	pointer-events: all;

	&.hide
	{
		opacity: 0;
	}


	

	//  .buttonbackground
	// {
	// 	> .buttontext
	// 	{	
	// 		&.sfx
	// 		{
	// 		&:active
	// 		{
	// 			sound-in: ui.downvote;
	// 		}
	// 		}
	// 	}
	// }




	.buttonbackground
	{
		justify-content: center;
		background-color:rgb(117, 117, 117);
		pointer-events: all;


		&:active
		{
			sound-in: ui.downvote;
		}
	}



	.buttontext
	{
		padding: 20px;
		font-size: 40px;
		
		&.hide
		{
			opacity: 0;
		}

	}

	.buttonholder
	{
		gap: 15px;
		flex-direction: column;
	}




job-list {
    position: absolute; 
	display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    width: 300px;
	margin-top: auto;
	// bottom: -150px;  
	left: 500px;

    border-radius: 12px;


	.job-cardholder
	{
	background: #000000b4;
	flex-direction: column;
		&.hide
		{
			opacity: 0;
		}
	}
    .loading {
        color: #ffcc00;
        font-size: 16px;
        text-align: center;
    }

    .job-card {
        background: #3b3a3a;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);

        display: flex;
        flex-direction: column;
        gap: 2px;
			&:active
			{
				sound-in: ui.downvote;
				
			}

        .job-title {
            font-size: 20px;
            font-weight: bold;
            color: #ececec;
        }

        .job-salary {
            font-size: 16px;
            color: #e2e2e2;
        }

        .job-description {
            font-size: 14px;
            color: #aaaaaa;
        }

        .job-category {
            font-size: 12px;
            color: #999;
            font-style: italic;
        }
    }
}












}