@import "../../../UI/styles.scss";

TabMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    pointer-events: all;
  }

  .menu-container {
    width: 90%;
    height: 85%;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    display: none;

    &.active {
      display: flex;
    }
  }

  .sidebar {
    width: 280px;
    flex: 0 0 280px;
  }

  .menuButton {
    opacity: 0.7;
    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
      background: rgba($color-tertiary, 0.1);
      transform: translateX(5px);
    }

    &.active {
      opacity: 1;
      background: rgba($color-accent, 0.15);
      color: $color-accent;
      transform: translateX(5px);
    }
  }

  .section-header {
    padding: $space-2 $space-3;
    display: flex;
    justify-content: center;

    .section-title {
      padding: $space-4;
      background: $color-secondary;
      border-radius: $space-1;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .section-body {
    padding: $space-1 $space-3;
  }

  .section-content {
    border-radius: $space-4;
    padding: $space-2;
  }
}