@import "/UI/Styles/Theme.scss";
@import "../../UI/styles.scss";

HUD {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: $text-color;
  transition: all 0.5s 0.5s ease-in-out;
  background-color: rgba(black, 0);

  Canvas {
    opacity: 1;
    transition: all 1s 0.5s ease-in-out;
  }

  &:intro {
    background-color: black;

    Canvas {
      opacity: 0;
    }
  }

  .crosshair {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
  }

  .centerHud {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

ContextSystem {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

Context {
  position: absolute;
  transform: translateX(-50%);
  transition: transform 0.01s ease;
}

