@import "../styles.scss";

DupeFileManager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100%;
  width: 100%;
  
  .dupe-files{
    max-height: 200px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    overflow: scroll;
    
    &.with-buttons {
      max-height: 120px;
    }
  }

}